html,body{
    overflow-x: hidden;
}

body{
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  background-color: #29282b;
  color:#b4b4b4;
}

h1,h2,h3,h4,h5,h6{
  font-family: "Source Sans Pro", "Open Sans", Helvetica, sans-serif;
}

h1,h2{
  color:#cbae30;
}

a{
  text-decoration: none;
  color:#ffffff;
}

/***** Main header ******/



#main-header{
  height: 100%;
  min-height: 800px;
  min-height: 90vh;
  background:#b4b4b4 url(/assets/images/Sabine.jpg) top center / cover no-repeat;
}

#main-header .main-holder{
  position: absolute;
  width: 100%;
  top:50%;
  transform: translateY(-50%);
  left:0;
}

#main-header h1{
  width:100%;
  text-align: center;
  font-size:5.5em;
  text-transform: uppercase;
  font-weight: 700;
  padding-bottom: 0;
}

#main-header h2{
  width:100%;
  text-align: center;
  padding: 0 15px;
  margin: -15px 0 20px;
}

#main-header p{
  width:100%;
  text-align: center;
}


.openning{
  position:absolute;
  width:80%;
  top: 50%;
  left:50%;
  transform:translate(-50%,-50%);
  font-size: 1.5em;
  line-height: 1.7;
}

.openning::first-letter{
     font:60px Lato; 
    font-weight:bolder; 
    color:#cbae39;
     
}

.who{
    color:#cbae30;
    text-decoration: none;
    
}



#videosList {
 max-width: 600px; 
  overflow: hidden;
}

.video {
  background-image: url('https://vimeo.com/163164237');
  height: 330px;
  width: 600px;
  margin-bottom: 50px;
}

.thumbnail{
    border-radius:50%;
    background-color: black;
    
    width:50px;
    padding:auto;
}



.minidoc{
    align-content: center;
    
}
    

/* Hide Play button + controls on iOS */
video::-webkit-media-controls {
    display:none !important;
}

/***** Navbar Scroll ******/

.navbar-holder{
  height: 52px;
}
.main-nav-scrolled{
  position: fixed;
  z-index: 100000;
  top:0;
  left: 0;
  width: 100%;
}


/****** Sections *******/

section{
  position: relative;
  height: 100%;
  min-height: 800px;
  height: 95vh;
}


/****** Explainer Text *******/

.explaination-holder{
  background: #333
}

.explanation{
  position:absolute;
  width:80%;
  top: 50%;
  left:50%;
  transform:translate(-50%,-50%);
  font-size: 1.5em;
  line-height: 1.7;
}


/****** Choose Your Own Adventure *******/
#choose-adventure header h1{
  margin-top: 20vh;
  margin-bottom: 50px;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.05em;
}

#choose-adventure p{
    padding-left: 10px;
    padding-right: 9px;
}


/****** Quiz Button *******/

.check-answer-button{
  cursor: pointer;
  display: block;
  margin: 5px auto 5px auto;
  background: none;
  padding: 11px 40px;
  font-size: 1.3em;
  border: 4px solid #ccc;
  transition: background .1s;
}

.check-answer-button:hover{
  background: #fff;
  border-color:#fff;
  color: #222730;
}

.check-answer-button:active{
  color:#ccc;
}

/****** Dot Navigation *******/

#bubbleNav{
  position:fixed;
  top:50%;
  width: 12px;
  right:20px;
  transform:translateY(-50%);
  z-index:1000;
}

#bubbleNav ul{
  display: block;
  width:12px;
  margin: 0;
  padding: 0;
}

#bubbleNav li{
    display:block;
    background-color:#777;
    width:12px;
    height:12px;
    padding: 0;
    list-style: none;
    list-style-position: inside;
    border-radius:8px;
    margin:10px 0;
    cursor: pointer;
}

#bubbleNav li.selected{
  background-color: #fff;
}

/****** Quiz Question *******/

.quiz-question{
  position: relative;
}

.quiz-content{
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  width:100%;
}

.quiz-question header h2{
    font-family: Lato;
  text-align: center;
  color: #ffffff;
  margin: 0;
}

.quiz-question header{
  width: 80%;
  margin: 0 auto;
}


.form{
  
  margin: 30px 20px 30px auto;
}

.form label{
  font-size: 1.6em;
  cursor: pointer;
}

.form *{
  overflow: visible !important;
}

.form input[type=radio]{
  margin  : 0;
  padding : 0;
  opacity : 0;
  display: block;
}

.form input[type=radio] + label{
  white-space: nowrap;
}

.form input[type=radio].radio-circle + label{
  background: #29282b url(../images/radio-button.png) no-repeat 0 0;
  background-position: 0 0px;
  display: inline-block;
  padding-left : 40px;
  overflow: hidden;
  white-space: nowrap;
}

.form input[type=radio].radio-circle:checked + label{
  background-position : 0 -30px;
}

.form input[type=radio].people-images:checked{
    border:2px solid yellow;
}


.form input[type=checkbox]{
  margin  : 0;
  padding : 0;
  opacity : 0;
  display: block;
}

.form input[type=checkbox] + label{
  background: #29282b url(../images/checkbox-button.png) no-repeat 0 0;
  display: inline-block;
  padding-left : 40px;
  overflow: hidden;
  white-space: nowrap; 
}

.form input[type=checkbox]:checked + label{
  background-position : 0 -30px;
}


.quiz-explanation{
  width: 70%;
  font-size: 1.2em;
  margin: 10px auto;
  padding: 20px;
  line-height: 1.5;
}

.learn-more{
  font-size: .9em;
}


/***** Howmanypeople ******/
.howmanypeople1{
    

    
    
}


/***** Mapx ******/
.form input[type=radio].mapx#usax + label{
  width:100%;
  height:0;
  padding-top:65%;
  text-align: center;
  background: #29282b url("../images/map-01.svg" ) no-repeat center 0;
  background-size: 100% auto;
}

.form input[type=radio].mapx#francex + label{
  width:100%;
  height:0;
  padding-top:65%;
  text-align: center;
  background: #29282b url("../images/map-02.svg" ) no-repeat center 0;
  background-size: 100% auto;
}
.form input[type=radio].mapx#belgiumx + label{
  width:100%;
  height:0;
  padding-top:65%;
  text-align: center;
  background: #29282b url("../images/map-03.svg" ) no-repeat center 0;
  background-size: 100% auto;
}
.form input[type=radio].mapx#ukx + label{
  width:100%;
  height:0;
  padding-top:65%;
  text-align: center;
  background: #29282b url("../images/map-04.svg" ) no-repeat center -5px;
  background-size: 100% auto;
}
.form input[type=radio].mapx + label span{
    display: inline;
    height: 0;
}
.form input[type=radio].mapx:checked + label{
  background-position:  0 74.25% !important;
}


/***** Mapy ******/
.form input[type=radio].mapy#usay + label{
  width:100%;
  height:0;
  padding-top:65%;
  text-align: center;
  background: #29282b url("../images/map-01.svg" ) no-repeat center 0;
  background-size: 100% auto;
}
.form input[type=radio].mapy#francey + label{
  width:100%;
  height:0;
  padding-top:65%;
  text-align: center;
  background: #29282b url("../images/map-02.svg" ) no-repeat center 0;
  background-size: 100% auto;
}
.form input[type=radio].mapy#belgiumy + label{
  width:100%;
  height:0px;
  padding-top:65%;
  text-align: center;
  background: #29282b url("../images/map-03.svg" ) no-repeat center 0;
  background-size: 100% auto;
}
.form input[type=radio].mapy#uky + label{
  width:100%;
  height:0;
  padding-top:65%;
  text-align: center;
  background: #29282b url("../images/map-04.svg" ) no-repeat center -5px;
  background-size: 100% auto;
}
.form input[type=radio].mapy + label span{
    display: inline;
    height: 0;
}
.form input[type=radio].mapy:checked + label{
  background-position:  0 74.25% !important;
}





/***** Silhouette Images ******/
.form input[type=radio].silhouette1#person1 + label{
  width:100%;
  height:0;
  padding-top:165%;
  text-indent: -9000em;
  text-align: center;
  background: #29282b url("../images/young-01.svg" ) no-repeat center 0;
  background-size: 100% auto;
}
.form input[type=radio].silhouette1#person2 + label{
  width:100%;
  height:0;
  padding-top:165%;
  text-indent: -9000em;
  text-align: center;
  background: #29282b url("../images/young-02.svg" ) no-repeat center 0;
  background-size: 100% auto;
}
.form input[type=radio].silhouette1#person3 + label{
  width:100%;
  height:0;
  padding-top:165%;
  text-indent: -9000em;
  text-align: center;
  background: #29282b url("../images/young-03.svg" ) no-repeat center 0;
  background-size: 100% auto;
}
.form input[type=radio].silhouette1#person4 + label{
  width:100%;
  height:0;
  padding-top:165%;
  text-indent: -9000em;
  text-align: center;
  background: #29282b url("../images/young-04.svg" ) no-repeat center 0;
  background-size: 100% auto;
}
.form input[type=radio].silhouette1 + label span{
    display: block;
    text-indent: 0;
    background: none;
}
.form input[type=radio].silhouette1:checked + label{
  background-position:  0 99% !important;
}




/***** Silhouette Images 2 ******/
.form input[type=radio].silhouette2#person5 + label{
  width:100%;
  height:0;
  padding-top:165%;
  text-indent: -9000em;
  text-align: center;
  background: #29282b url("../images/old-01.svg" ) no-repeat center 0;
  background-size: 100% auto;
}
.form input[type=radio].silhouette2#person6 + label{
  width:100%;
  height:0;
  padding-top:165%;
  text-indent: -9000em;
  text-align: center;
  background: #29282b url("../images/old-02.svg" ) no-repeat center 0;
  background-size: 100% auto;
}
.form input[type=radio].silhouette2#person7 + label{
  width:100%;
  height:0;
  padding-top:165%;
  text-indent: -9000em;
  text-align: center;
  background: #29282b url("../images/old-03.svg" ) no-repeat center 0;
  background-size: 100% auto;
}
.form input[type=radio].silhouette2#person8 + label{
  width:100%;
  height:0;
  padding-top:165%;
  text-indent: -9000em;
  text-align: center;
  background: #29282b url("../images/old-04.svg" ) no-repeat center 0;
  background-size: 100% auto;
}
.form input[type=radio].silhouette2 + label span{
    display: block;
    text-indent: 0;
    background: none;
}
.form input[type=radio].silhouette2:checked + label{
   background-position:  0 99% !important;
}


/****** Color of check mark when answering questions *******/
.glyphicon-ok{
  color: #00F200;
}
.glyphicon-remove{
  color: red;
}


/********Story*********/
/*
.article-container{
    width:50%;
    margin:8% 25% 10% 25%
    
}
*/
.article{
    width:50%;
    margin-left: 25%;
    margin-right: 25%;
    margin-top:20px;
    font-size:15px;
    font-family: "Lato";
    
    
}

.article-header{
    width:50%;
    margin-left: 25%;
    margin-right: 25%;
    margin-top:130px;
    font-size: 50px;
/*    font-variant: small-caps;*/
    font-weight:800; 
    font-family: "Lato";
    
    
}
.article-subtitle{
    width:50%;
    margin-left: 25%;
    margin-right: 25%;
    margin-bottom: 45px;
    font-size:24px;
    font-family: serif;
    

    
    
}
.sub{
    font-size:24px;
    margin-top:50px;
    font-weight: 200;
    font-family: "Lora";
    font-weight: 900;
    
    
}




em{
    text-decoration:underline;
    
    font-style: normal;
    text-decoration-style: dashed;
    
}
#horgan1{
     float:right;
    margin-right: 30px;
    width:200px;
}
#horgan2{
    float:right;
    margin-right: 30px;
    width:200px;
    
    
}

#jeff{
    float: left;
    margin-left: 40px;
    width:15%;
    
}
#erin1{
    float: left;
    margin-left: 40px;
    
}
#erin2{
    float: right;
    margin-right: 40px;
    
}

#haras1{
    float:left;
    margin-left: 40px;
    
}
#haras2{
    float:left;
    margin-left: 40px;
    
}
#erin3{
    float: right;
    margin-right: 40px;
    
}
.ending{
    margin-top: 100px;
    
}


/**********Videos********/

.video-page h2{
  text-align: center;
  margin-top:50px;
    
}



.video-container {
	position:relative;
	padding-bottom:56.25%;
	padding-top:30px;
	height:0;
	overflow:hidden;
}

.video-container iframe {
	position:absolute;
	top:0;
	left:15%;
	width:70%;
	height:70%;
    
}




/****** Media Queries *******/
@media (max-width:475px){
  #main-header h1{
    font-size: 4em;
  }
  .explanation{
    font-size: 1.2em;
  }
  .quiz-question header{
    width: 95%;
    margin: 0 auto;
  }
}